<!doctype html>
<html lang="en">

<head>
    <title>Imgeech</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

</head>
<style>
    body {
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .rounded {
        height: 600px;
        width: 100%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }

    .imp {
        display: flex;
    }

    .cen {
        flex-grow: 1;
        text-align: center;
    }
    .click{
    cursor: pointer;
    }
    .fa-volume-up{
    color: #047AFB;

    }
    .fa-volume-up:hover{
    color:#0056B3;
    }
</style>

<body>
    <section class="mt-5 text-center">
        <div class="container">
            <div class="jumbotron">
                <div class="imp mb-3">
                    <a href="s3"><i class="fas fa-chevron-left fa-3x"></i></a>
                    <a href="/" class="cen"><i class="fas fa-home fa-3x cen"></i></a>
                    <a href="s5"><i class="fas fa-chevron-right fa-3x"></i></a>
                </div>
                <div class="display-4 mb-3">Sample Image</div>
                <div class="card card-body">
                    <img src="images/samples/main.jpg" class="img-fluid rounded" alt="img1">
                    <hr>
                    <h2>Result</h2>
                    <span id="progress"></span>
                    <div id="result"></div>
                    <br>
                    <div id="speak"></div>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <script>
        let img = new Image()
        img.src = "images/samples/main.jpg";

        img.onload = function () {
            console.log("loaded...", "$$$$");
            Tesseract.recognize(img).progress((progress) => {
                if (progress.status === "recognizing text") {
                    $('#progress').text(progress.progress * 100 + "%");
                }
            }).then((result) => {
                console.log(result, "$$$$");
                $('#result').text(result.text);
                $('#speak').html('<a class="click" onclick="playsound();"><i class="fas fa-volume-up fa-4x"></i></a>');
            })
        }
        function playsound(){
        var node = document.getElementById('result'),
        textContent = node.textContent;
        responsiveVoice.speak(textContent);
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src='https://cdn.jsdelivr.net/gh/naptha/tesseract.js@v1.0.14/dist/tesseract.min.js'></script>

</body>

</html>